*.zip filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.ncu-rep filter=lfs diff=lfs merge=lfs -text
Project1/outputs/** filter=lfs diff=lfs merge=lfs -text
Project1/imagenet_subset/** filter=lfs diff=lfs merge=lfs -text
HW1/First[[:space:]]Project.zip filter=lfs diff=lfs merge=lfs -text
